@media screen and (min-width: 2560px) {
  section {
    max-width: 1400px;
  }

  .section-container {
    max-width: 1400px;
    gap: 6rem;
  }

  /* PROFILE SECTION */
  #profile {
    height: 84vh;
  }

  .profile-pic-container {
    height: 550px;
    width: 550px;
  }

  /* ABOUT SECTION */
  .about-pic-container {
    height: 500px;
    width: 500px;
  }

  /* PROJECTS SECTION */
  .project-img {
    width: 40%;
    height: auto;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 430px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .logo {
    font-size: 1.5rem;
  }
  section {
    height: auto;
    max-width: 430px;
    margin: 5%;
  }

  .section-container {
    height: auto;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section-text-container {
    text-align: center;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-sub-title {
    font-size: 1.5rem;
  }
  

  .section-text-p1 {
    font-size: 1.3rem;
  }

  .section-text-p2 {
    font-size: 0.9rem;
  }

  .section-text-p3 {
    font-size: 1.25rem;
  }

  .section-text-p4 {
    font-size: 1rem;
    text-align: center;
  }

  /* PORFILE SECTION */
  #profile {
    height: 83vh;
  }

  .profile-pic-container {
    width: auto;
    height: 54vw;
    justify-content: center;
    margin: 0;
  }


  /* ABOUT SECTION */
  .about-pic-container {
    width: auto;
    height: 54vw;
    justify-content: center;
    margin: 5%;
  }

  .about-resume-container {
    display: none;
  }

  /* PROJECTS SECTION */
  .project-img {
    width: 50%;
    height: auto;

  }

  .projects-details-container {
    text-align: center;
    margin: auto;
  }

  #projects .section-text-container p {
    margin-inline: 0;
  }


  /* CONTACT SECTION */
  #contact {
    height: 67vh;
  }

  #contact .section-container {
    gap: 0rem;
    margin: 4rem auto;
  }

  #contact .section-container p {
    font-size: 1rem;
  }


  /* FOOTER SECTION */
  footer {
    height: 25vh;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
  }

  footer nav li:last-child {
    padding: 0;
  }

}
