/* SECTIONS */
@import url("style-general.css");


/* HERO SECTION */
#hero {
  min-height: calc(100dvh - var(--nav-height) - 2 * var(--padding-l));
}

#hero > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 1.5fr;
}

#hero header {
  align-self: center;
  display: grid;
 grid-auto-rows: 0fr;
 justify-content: center;
  row-gap: var(--padding-s);
}

.section-hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero figure img {
  align-self: center;
  min-height: initial;
  min-width: initial;
  width: calc(100%);
}


/* ABOUT SECTION */
#about {
  background: var(--color-element-background-secondary);
}
#about > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1.2fr 1.8fr;
  row-gap: var(--padding-m);
  text-align: center;

}
#about .section-title {
  grid-column: span 2;
  /* white-space: nowrap; */
}

#about picture img {
  border-radius: 2rem;
}

#about .section-text {
  text-align: start;
  font-size: var(--font-size-s);
}


/* PROJECTS SECTION */
#projects > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-project {
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  text-align: center;
}

#projects img {
  height: var(--media-height-s);
  object-fit: contain;
}

.section-text-project {
  padding: 0 var(--padding-l);
}


/* CONTACT SECTION */
#contact > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-contact {
  display: flex;
  flex-direction: row;
  gap: var(--padding-m);
  align-items: center;
  justify-content: center;

  border-style: solid;
  border: var(--color-element-border-primary);
  border-radius: 2rem;
  background: var(--color-element-background-secondary);
  margin: calc(var(--padding-l) * 2) auto;
}

.section-contact-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}