/* SECTIONS */
@import url("style-general.css");

/* GENERAL */
/* .screenshot-myreadsapp {
  height: 100%;
  min-height: initial;
  min-width: initial;
  width: 100%;
  object-fit: contain;
} */

figure,
picture {
  height: var(--media-height-s);
}

.section-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

body h3 {
  font-weight: var(--font-weight-l);
}

/* PRESENTATION SECTION */
#presentation {
  background-color: var(--color-element-background-secondary);
  padding-bottom: 0;
}

#presentation {
  padding-top: var(--padding-m);
}

#presentation picture,
#presentation figure {
  height: var(--media-height-m);
}

#presentation > div {
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: var(--padding-m);
}

#presentation .section-title h2 {
  color: var(--color-element-label-primary);
}

.section-presentation {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: var(--padding-m);
}

/* AUTHENTICATION SECTION */
#authentication {
  padding-top: var(--padding-l);
}
#authentication > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#authentication .section-title {
  grid-column: span 3;
}

#authentication .section-text {
  gap: var(--padding-s);
}

/* API SECTION */
#api {
  background-color: var(--color-element-background-secondary);
}

#api > div {
  column-gap: var(--padding-m);
  grid-template-columns: 2fr 1.5fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-api {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#api .section-title {
  grid-column: span 3;
}

#api .section-text {
  gap: var(--padding-s);
}

/* STORAGE SECTION */
#storage > div {
  column-gap: var(--padding-l);
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#storage .section-title {
  grid-column: span 2;
}

.section-storage {
  display: flex;
  flex-direction: column;
}

#storage .section-text {
  margin: var(--padding-s) 0 0;
}

#storage .section-choosestyle {
  display: flex;
  justify-content: center;
  padding: var(--padding-s) 0;
  font-weight: bold;
  gap: var(--padding-s);
  align-items: center;
}

.section-choosestyle img {
  pointer-events: visible;
}

/* ARCHITECTURE SECTION */
#architecture {
  background-color: var(--color-element-background-secondary);
}

#architecture > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-xs);
  margin-top: var(--padding-s);
}

#architecture figure,
#architecture picture {
  height: var(--media-height-xl);
}

.section-repo-data {
  display: grid;
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-m);
}

/* #architecture .mvvm > picture,
#architecture .mvvm > figure {
  height: var(--media-height-l)
} */

/* WHATS NEXT SECTION */
#whatsnext {
  padding-bottom: 0;
}

#whatsnext > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

/* #whatsnext figure,
#whatsnext picture {
  height: var(--media-height-xs);
} */

#whatsnext .resume {
  margin: var(--padding-m) 0 0;
}

#whatsnext .btn-container {
  padding: var(--padding-m) 0;
}

.section-whatsnext {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  margin: auto 0;
}

.section-whatsnext img {
  object-fit: contain;
  margin-top: auto;
}










@media screen and (min-width: 2560px) {
  #presentation picture,
  #presentation figure {
    height: var(--media-height-xxxl);
  }

  section {
    padding: var(--padding-xl) 0 var(--padding-xl) 0;
  }
}





@media only screen and (max-width: 700px) {
  figure,
  picture {
    height: var(--media-height-xxs);
  }

  #presentation picture,
  #presentation figure {
    height: var(--media-height-xs);
  }

  #presentation {
    overflow: hidden;
  }



  #architecture figure,
#architecture picture {
  height: var(--media-height-s);
}

.section-repo-data {
  display: flex;
  flex-direction: column;
}

.section-whatsnext {
  display: flex;
  flex-direction: column-reverse;
}

#whatsnext .resume {
  margin-top: 0;
}

}
