/* General */
figure,
picture {
  height: var(--media-height-s);
}

.section-text {
  margin: auto 0;
}

/* Hero section */
#hero {
  min-height: calc(100dvh - var(--nav-height) - 2 * var(--padding-l));
}

#hero > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 1.5fr;
}

#hero header {
  align-self: center;
  display: grid;
  grid-auto-rows: 0fr;
  justify-content: center;
  row-gap: var(--padding-s);
}

.section-hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero figure img {
  align-self: center;
  min-height: initial;
  min-width: initial;
  width: calc(100%);
}

/* About section */
#about {
  background: var(--color-element-background-secondary);
}

#about > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#about figure,
#abput picture {
  height: var(--media-height-s);
  width: var(--media-height-s);
}

#about .section-title {
  grid-column: span 2;
}

#about picture {
  border-radius: 2rem;
}

#about figure img {
  border-radius: 2rem;
  object-fit: contain;
}

#about .section-text {
  text-align: start;
}

/* Projects section */
#projects > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-project {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  text-align: center;
}

/* Contact section */
#contact > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-contact {
  display: flex;
  flex-direction: row;
  gap: var(--padding-m);
  align-items: center;
  justify-content: center;
  border-style: solid;
  border: var(--color-element-border-primary);
  border-radius: 2rem;
  background: var(--color-element-background-secondary);
  margin: calc(var(--padding-l) * 2) auto;
}

.section-contact-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}

/* Mediaqueries */

@media screen and (min-width: 2560px) {

  /* #about figure,
#abput picture {
  height: var(--media-height-xxl);
  width: var(--media-height-xxl);
} */

/* #about > div {
  column-gap: var(--padding-xl);
} */

#about figure {
  /* margin-left: auto; */

  margin-inline: auto;
}
}

/* Screen max 700px */
@media only screen and (max-width: 700px) {
  /* Hero section */
  #hero figure,
  #hero picture {
    height: var(--media-height-xxxs);
  }

  #hero {
    min-height: calc(100dvh - var(--nav-height) - 2 * var(--padding-l));
  }

  /* About section */
  #about figure,
  #about picture {
    height: var(--media-height-xxxs);
    width: var(--media-height-xxxs);
  }

  /* Projects section */
  #projects figure,
  #projects picture {
    height: 200px;
  }

  /* Contact section */
  #contact .section-contact {
    flex-direction: column;
    align-items: start;
    gap: var(--padding-s);
    margin: calc(var(--padding-l) * 1.5) auto;
  }
}
