/* SECTIONS */
@import url("style-general.css");

/* General */
figure,
picture {
  height: var(--media-height-s);
}

.section-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

body h3 {
  font-weight: var(--font-weight-l);
}

/* Presentation section */
#presentation {
  background-color: var(--color-element-background-secondary);
  padding-bottom: 0;
}

#presentation {
  padding-top: var(--padding-m);
}

#presentation picture,
#presentation figure {
  height: var(--media-height-m);
}

#presentation > div {
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: var(--padding-m);
}

#presentation .section-title h2 {
  color: var(--color-element-label-primary);
}

.section-presentation {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: var(--padding-m);
}

/* Authentication section */
#authentication {
  padding-top: var(--padding-xl);
}

#authentication > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#authentication .section-title {
  grid-column: span 3;
}

#authentication .section-text {
  gap: var(--padding-m);
}

/* API section */
#api {
  background-color: var(--color-element-background-secondary);
}

#api > div {
  column-gap: var(--padding-m);
  grid-template-columns: 2fr 1.5fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-api {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#api .section-title {
  grid-column: span 3;
}

#api .section-text {
  gap: var(--padding-m);
}

/* Storage section */
#storage > div {
  column-gap: var(--padding-l);
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#storage .section-title {
  grid-column: span 2;
}

.section-storage {
  display: flex;
  flex-direction: column;
}

#storage .section-text {
  margin: var(--padding-s) 0 0;
}

#storage .section-choosestyle {
  display: flex;
  justify-content: center;
  padding: var(--padding-s) 0;
  font-weight: bold;
  gap: var(--padding-s);
  align-items: center;
}

.section-choosestyle img {
  pointer-events: visible;
}

/* Architecture section */
#architecture {
  background-color: var(--color-element-background-secondary);
}

#architecture > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

.section-architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-xs);
  margin-top: var(--padding-s);
}

#architecture figure,
#architecture picture {
  height: var(--media-height-xl);
}

.section-repo-data {
  display: grid;
  column-gap: var(--padding-l);
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-m);
}

/* Whatsnext section */
#whatsnext {
  padding-bottom: 0;
}

#whatsnext > div {
  column-gap: var(--padding-m);
  grid-template-columns: 1fr;
  row-gap: var(--padding-m);
  text-align: center;
}

#whatsnext .resume {
  margin: var(--padding-m) 0 0;
}

#whatsnext .btn-container {
  padding: var(--padding-m) 0;
}

.section-whatsnext {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  margin: auto 0;
}

.section-whatsnext img {
  object-fit: contain;
  margin-top: auto;
}

/* Mediaqueries */

/* Screen min 2560px */
@media screen and (min-width: 2560px) {
  /* Presentation section */
  #presentation picture,
  #presentation figure {
    height: var(--media-height-xxxl);
  }

  #presentation figure {
    margin-top: 4rem;
  }

  #architecture figure,
  #architecture picture {
    height: var(--media-height-xs);
  }

  /* Authentication section */
  #authentication figure,
  #authentication picture {
    height: var(--media-height-m);
  }

  /* API section */
  #api figure,
  #api picture {
    height: var(--media-height-s);
  }

  /* Storage section */
  #storage figure,
  #storage picture {
    height: var(--media-height-m);
  }

  /* Storage section */
  #architecture figure,
  #architecture picture {
    height: var(--media-height-xl);
  }
}

/* Screen min 1441px max 1920px */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* Presentation section */
  #presentation picture,
  #presentation figure {
    height: var(--media-height-xl);
  }

  /* Authentication section */
  #authentication figure,
  #authentication picture {
    height: var(--media-height-s);
  }

  /* API section */
  #api figure,
  #api picture {
    height: var(--media-height-s);
  }

  /* Storage section */
  #storage figure,
  #storage picture {
    height: var(--media-height-s);
  }

  /* Storage section */
  #architecture figure,
  #architecture picture {
    height: var(--media-height-xl);
  }

  #whatsnext figure,
  #whatsnext picture {
    height: var(--media-height-s);
  }
}

/* Screen max 850px */
@media only screen and (max-width: 850px) {
  #architecture > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .section-repo-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #whatsnext figure,
  #whatsnext picture {
    height: var(--media-height-xs);
  }

  /* Whatsnext section */
  .section-whatsnext {
    display: flex;
    flex-direction: column-reverse;
  }

  #whatsnext .resume {
    margin-top: 0;
  }
}

/* Screen max 700px */
@media only screen and (max-width: 700px) {
  /* General */
  figure,
  picture {
    height: var(--media-height-xxs);
  }

  /* Presentation section */
  #presentation picture,
  #presentation figure {
    height: var(--media-height-xs);
  }

  #presentation figure {
    margin-top: 2rem;
  }

  #presentation {
    overflow: hidden;
  }

  /* Authentication section */
  #authentication figure,
  #authentication picture {
    height: var(--media-height-xs);
  }

  /* Api section */
  #api > div {
    row-gap: var(--padding-s);
  }
  #api figure,
  #api picture {
    height: var(--media-height-xs);
  }

  /* Storage section */
  #storage figure,
  #storage picture {
    height: var(--media-height-xs);
  }

  /* Architecture section */
  #architecture figure,
  #architecture picture {
    height: var(--media-height-xs);
  }

  .section-architecture {
    margin-top: 0;
  }

  .section-repo-data {
    display: flex;
    flex-direction: column;
  }

  #whatsnext figure,
  #whatsnext picture {
    height: var(--media-height-xxs);
  }
}
